{% block body %}
<link href="{{ asset('css/movie.css') }}" rel="stylesheet" /> {% for movie in movies %}
<div class="item">
    <div class="details">
        <p class="movie_name"> <a href="{{ path('movie_show', {'id':movie.omdbId}) }}">{{ movie.Title|e }}</a></p>
    </div>
    <div>
        <button value="notSeen" data-id="{{ movie.omdbId }}" class="movieButton {{ movie.notSeen ? 'btn_green': 'btn_blue' }}">NOT SEEN</button>
        <button value="toSee" data-id="{{ movie.omdbId }}" class="movieButton {{ movie.toSee ? 'btn_green': 'btn_blue' }}">TO SEE</button>
        <button value="seen" data-id="{{ movie.omdbId }}" class="movieButton {{ movie.Seen ? 'btn_green': 'btn_blue' }}">SEEN</button>
    </div>
</div>
{% endfor %} {% endblock %}{% block javascripts %}{{ encore_entry_script_tags('movie') }} {% endblock %}