{% extends 'base.html.twig' %} {% block body %}
<link href="{{ asset('css/movie.css') }}" rel="stylesheet" /> {% for movie in movies %}
<div class="item">
    <div class="details">
        <a href="{{ path('movie_show', {'id':movie.omdbid}) }}">
            <p class="movie_name"> {{ movie.Title|e }}</p>
        </a>
    </div>
    <div class="info">
        <p> </p>
    </div>
</div>
{% endfor %} {% endblock %}