#sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #3D5AFE;
    /* Black */
    overflow-x: hidden;
}

#sidebar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#sidebar a {
    padding: 5px;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
    display: inline;
}

#sidebar i {
    padding: 5px;
    text-decoration: none;
    display: inline;
}

#sidebar a:hover {
    color: #42ffd6;
    ;
}

#content {
    margin-left: 160px;
    padding: 10px;
}

.details p {
    font-size: 1.15em;
    font-weight: bold;
}

.item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button {
    color: white !important;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #007bff;
}

button:hover {
    border: 1px solid black;
}

.btn_green {
    background-color: #28a745;
}

.btn_blue {
    background-color: #007bff;
}