{% block body %}
<link href="{{ asset('css/task.css') }}" rel="stylesheet" /> {% for task in tasks %}
<div class="item">
    <div class="details">
        <p class="task_name"> <a href="{{ path('task_show', {'id':task.id}) }}">{{ task.name|e }}</a></p>
        <p> {{ task.dueDate|date('d/m/y') }} </p>
    </div>
    <div class="info">
        <p> {{ task.info }} </p>
    </div>
</div>
{% endfor %} {% endblock %}