{% block body %}
<link href="{{ asset('css/note.css') }}" rel="stylesheet" /> {% for note in notes %}
<div class="item">
    <div class="details">
        <p class="note_name"> <a href="{{ path('note_show', {'id':note.id}) }}">{{ note.name|e }}</a></p>
    </div>
    <div class="info">
        <p> {{ note.info }} </p>
    </div>
</div>
{% endfor %} {% endblock %}