<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sticky{% endblock %}</title>
    {% block stylesheets %} {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> {% endblock %}
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <div class="home_menu">
            <a href="{{ path('home') }}"><i class="glyphicon glyphicon-home"></i>HOME</a>
        </div>
        <div class="task_menu">
            <a href="{{ path('task_list') }}"><i class="glyphicon glyphicon-tasks"></i>TASKS</a>
            <a href="{{ path('task_new') }}"><i class="glyphicon glyphicon-edit"></i></a>
        </div>
        <div class="note_menu">
            <a href="{{ path('note_list') }}"><i class="glyphicon glyphicon-list"></i>NOTES</a>
            <a href="{{ path('note_new') }}"><i class="glyphicon glyphicon-edit"></i></a>
        </div>
        <div class="movie_menu">
            <a href="{{ path('movie_list') }}"><i class="glyphicon glyphicon-film"></i>MOVIES</a>
            <a href="{{ path('movie_new') }}"><i class="glyphicon glyphicon-edit"></i></a>
        </div>{% endblock %}
    </div>

    <div id="content">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %} {{ encore_entry_script_tags('app') }}
    <script src="/build/runtime.js"></script>
    <script src="/build/app.js"></script>
    {% endblock %}
</body>

</html>