{% extends 'base.html.twig' %} {% block body %}
<div class="note">
    <a href="{{ path('note_list') }}">
        <h1>Notes</h1>
    </a>
    {{ include('note/list.html.twig') }} {# {% for note in notes %}
    <div class="item">
        <div class="details">
            <p class="note_name"> <a href="{{ path('note_show', {'id':note.id}) }}">{{ note.name|e }}</a></p>
        </div>
        <div class="info">
            <p> {{ note.info }} </p>
        </div>
    </div>
    {% endfor %} #}
</div>
<div class="task">
    <a href="{{ path('task_list') }}">
        <h1>Tasks</h1>
    </a>
    {{ include('task/list.html.twig') }} {# {% for task in tasks %}
    <div class="item">
        <div class="details">
            <p class="task_name"> <a href="{{ path('task_show', {'id':task.id}) }}">{{ task.name|e }}</a></p>
            <p> {{ task.dueDate|date('d/m/y') }} </p>
        </div>
        <div class="info">
            <p> {{ task.info }} </p>
        </div>
    </div>
    {% endfor %} #}
</div>
<div class="movie">
    <a href="{{ path('movie_list') }}">
        <h1>Movies</h1>
    </a>
    {{ include('movie/list.html.twig') }} {# {% for movie in movies %}
    <div class="item">
        <div class="details">
            <p class="movie_name"> <a href="{{ path('movie_show', {'id':movie.omdbId}) }}">{{ movie.omdbId|e }}</a></p>
        </div>
        <div class="info">
            <p> </p>
        </div>
    </div>
    {% endfor %} #}
</div>
{% endblock %}